body {
  font-family: "Geneva"
}

h3 {
  margin-bottom: 0px;
}

td {
  padding-right: 15px;
}
/*TODO: mac chrome seems to actually ignore font-size fwiw*/
select {
  font-family: "Geneva";
  font-size: 16px;
}
.hide {
  display: none;
}

.groupSum td {
  border: 1px solid black;
}
.chatBox {
  width: 600px;
  margin-bottom: 10px;
  font-family: 'Geneva';
  font-size: 20px;
}
.chatResults {
  height: 600px;
  width: 600px;
  overflow: scroll;
  border: 1px solid black;
}
.chatTimestamp {
  color: gray;
}

.challengeTable {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.challengeTable thead {
  background: SteelBlue;
  color: white;
  align: center;
}

.challengeTable th, td {
  padding: 5px 10px;
}

.challengeTable tbody tr:nth-child(even) {
  background: #e0e0e0;
}

#GroupChallengeTable tbody tr:nth-child(1) {
  background: SeaGreen;
  color: white;
}

.ruleList {
  padding-left: 5px;
  list-style-position: inside;
  margin-top: 0px;
}

.metro {
  display: inline-block;
  padding: 5px 8px 5px 8px;
  margin: 0px 8px 0px 8px;
  background: #08C;

  /* Font styles */
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.metro.unselected {
  opacity: 0.3;
}

.metro:hover { background: #0AF; }

@media screen and (max-device-width: 480px) {

}

@media screen and (max-device-width: 480px) and (orientation: portrait){
  #GroupChallengeTable {
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 30px;
  }

  .chatResults {
    width: 100%
  }

  .chatBox: {
    width: 100%
  }
}
